---
import type { Examples } from "@/types/example";
import AlgokitExampleCard from "../components/AlgokitExampleCard.astro";
import Layout from "../layouts/Layout.astro";
import { yamlToObject } from "../utils/yaml";
import path from "node:path";

const yamlFilePath = path.resolve("algokit-templates/examples/examples.yml");

const { examples } = await yamlToObject<Examples>(yamlFilePath);
---

<Layout title="Example Gallery">
  <main class="pt-[64px]">
    <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-8 p-8">
      {examples.map((example) => <AlgokitExampleCard example={example} />)}
    </div>
  </main>
</Layout>
